@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-barca-blue: #004d98;
  --color-barca-red: #a50044;
  --color-barca-yellow: #ffcb05;
  --color-dark-50: #f8fafc;
  --color-dark-100: #f1f5f9;
  --color-dark-200: #e2e8f0;
  --color-dark-300: #cbd5e1;
  --color-dark-400: #94a3b8;
  --color-dark-500: #64748b;
  --color-dark-600: #475569;
  --color-dark-700: #334155;
  --color-dark-800: #1e293b;
  --color-dark-900: #0f172a;
  --color-dark-950: #020617;
}
